config.php
.DS_Store
.vscode/
ui/ui/compiled
ui/compiled/*.php
ui/cache/*.php
test.php
sms.php
system/cache/**
!system/cache/index.html
ui/ui_custom/**
!ui/ui_custom/index.html
!ui/ui_custom/README.md
system/uploads/sms/**
!system/uploads/sms/index.html
system/uploads/system/**
!system/uploads/system/index.html
scanLang.php
*.zip
/.vs
docker-compose.yml
.htaccess
.idea
paychangu-phpnuxbill-payment-gateway/
